body{
    background-color: $primary-color;
    background-image: url('#{$app-bg-path}/bg-header-mobile.svg');
    background-repeat: no-repeat;

    @media (min-width: $app-mobile-viewport-size) {
        background-image: url('#{$app-bg-path}/bg-header-desktop.svg');
    }
}

#app{
    margin-top: 156px;
    background-color: $bg-neutral-light-grayish-cyan-color;
}

