body{
    background-color: $primary-color;
    background-image: url('#{$app-bg-path}/bg-header-desktop.svg');
    background-repeat: no-repeat;
    background-position: 100% 0;
}

#app{
    margin-top: 156px;
    background-color: $bg-neutral-light-grayish-cyan-color;
}