$app-mobile-viewport-size: 374px;
//$app-desktop-viewport-size: 1440px;
$app-desktop-viewport-size: 1366px;

$app-font-size: 15px;
$app-font-family: 'Spartan', sans-serif;

$app-bg-path: "~@/assets/images";

$primary-color: #5ba4a4;

$bg-neutral-light-grayish-cyan-color: #effafa;
$filter-neutral-light-grayish-cyan-color: #eef6f6;
$neutral-dark-grayish-cyan-color: #7b8e8e;
$neutral-darkest-grayish-cyan-color: #2c3a3a;